[submodule "e2w/packages/localization/third_party/sa2va"]
	path = e2w/packages/localization/third_party/sa2va
	url = https://github.com/bytedance/Sa2VA.git
[submodule "e2w/packages/generation/third_party/vace"]
	path = e2w/packages/generation/third_party/vace
	url = https://github.com/ali-vilab/VACE.git
[submodule "e2w/packages/generation/third_party/wan2_2"]
	path = e2w/packages/generation/third_party/wan2_2
	url = https://github.com/Wan-Video/Wan2.2.git
[submodule "e2w/packages/generation/third_party/videox_fun"]
	path = e2w/packages/generation/third_party/videox_fun
	url = https://github.com/aigc-apps/VideoX-Fun.git
